<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">E-KYC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_students' %}">Students</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_customers' %}">Customers</a>
          </li>
              
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add Students Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'add-student' %}">Add Student Info</a></li>
              <li><a class="dropdown-item" href="{% url 'add_result' %}">Add Academic Info</a></li>
              <li><a class="dropdown-item" href="{% url 'add_financial' %}">Add Financial Info</a></li>
              <li><a class="dropdown-item" href="{% url 'add_course' %}">Add Course Info</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_customer' %}">Add Customers</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'customer_access' %}">Customer Access</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>